<div
  class="mx-auto sm:w-4/5"
  *ngIf="currencyRates$ | async as currencyRates; else loading"
>
  <header
    [currencies]="currencyRates"
    class="h-20 flex overflow-hidden text-slate-800 shadow-lg text-xl items-center justify-center rounded-b-lg px-3 py-2 bg-sky-300"
  ></header>
  <main class="md:px-[25%] px-[5%] pt-20">
    <div class="rounded-md shadow-lg bg-indigo-50 border-4 p-3">
      <h1 class="text-3xl text-center font-bold">Currency converter</h1>
      <converter [currencyRates]="currencyRates" class="my-8 block">
      </converter>
    </div>
  </main>
</div>
<ng-template #loading>
  <div class="flex items-center justify-center h-screen">
    <loader></loader>
  </div>
</ng-template>
